<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.watermelon.watermelonbackend.mapper.ProblemMapper">
    <resultMap type="cn.watermelon.watermelonbackend.entity.Problem" id="problem">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="input" column="input"/>
        <result property="output" column="output"/>
        <result property="contestId" column="contest_id"/>
        <result property="isSpj" column="is_spj"/>
        <result property="visible" column="visible"/>
        <result property="tmLimit" column="tm_limit"/>
    </resultMap>
    <select id="findAll" resultType="cn.watermelon.watermelonbackend.entity.Problem">
        SELECT * FROM problem
    </select>
    <select id="findProblemByName" parameterType="java.lang.String" resultType="cn.watermelon.watermelonbackend.entity.Problem">
        select * from problem where title CONCAT('%',#{part},'%')
    </select>
    <select id="findProblemById" parameterType="int" resultType="cn.watermelon.watermelonbackend.entity.Problem">
        select * from problem where id = #{id}
    </select>
</mapper>